<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Vaga</title>
</head>

<body>
    <div id="menu_superior">
        <h2>Menu Superior Fixo</h2><br>
    </div>

    <div id="cadastro_reserva" style="background-color: aquamarine;">
        <h2>Cadastro de Reserva de Vagas</h2>
        <br><br>
        <h3>Preencha abaixo os dados necessário para reservar uma vaga no estacionamento</h3>
        <br>

        <div id="formulario_cadastro_reserva">
            <label> Placa do Veículo <br></label>
            <input type="text" id="placa_veiculo" /><br>
            <label> Nome do proprietário <br></label>
            <input type="text" id="nome_proprietario" /><br>
            <label> Número do apartamento <br></label>
            <input type="text" id="numero_apartamento" /><br>
            <label> Modelo do veículo <br></label>
            <input type="text" id="modelo_veiculo" /><br>
            <label> Cor do veículo <br></label>
            <input type="text" id="cor_veiculo" /><br>
            <label> Número da vaga <br></label>
            <input type="" id="numero_vaga" /><br>

            <button>Cadastrar</button>
        </div>
    </div>

    <div id="relatorio_vagas">
        <br><br>
        <h2>Relatório de vagas</h2>

    </div>


</body>

</html>