body{
    background-color:rgb(16, 16, 82);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.botao_grande{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: darkblue;
    margin: 0px 10px 0px 10px;
}

.botao_grande:hover{
    background-color: blue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: rgb(113, 112, 112);
}

#menu_superior {
    width: 600px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    background-color: azure;
    border-radius: 20px 20px 0px 0px;
    border:black;
    border-width: 2px;
}

#cadastro_reserva {
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    background-color: azure;
}

#formulario_cadastro_reserva{
    width: 300px;
    padding: 20px;
    margin: auto;
    text-align: left;
    border-radius: 20px;
    background-color: azure;
}

input[type=text]{
    width: 280px;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

input{
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}


#relatorios {
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    background-color: azure;
}